<!DOCTYPE html>
<html lang="en">

  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <!-- <link href="../bootstrap/css/bootstrap-theme.css" rel="stylesheet"> -->
    <script src="../../bootstrap/js/jquery.min.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <link href="../style1.css" rel="stylesheet" type="text/css" />
    <link href="../../bootstrap/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="../../bootstrap/css/font-awesome.min.css" rel="stylesheet" />
  </head>

  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    <nav class="navbar navbar-default navbar-fixed-top navbar-light">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div class="row">
            <div class="col-lg-3 navbar-left" id="contact">
              <p></p>
              <p><span class="glyphicon glyphicon-map-marker"></span> P603_604
                B1 &nbsp;
                <span class="glyphicon glyphicon-earphone"></span> (84-4) 3
                8696124</p>
            </div>
            <div class="col-lg-3">
              <form class="navbar-form navbar-right">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-outline-primary"><span
                    class="glyphicon glyphicon-search"></button>
                </form>
              </div>
              <div class="col-lg-6 navbar-right">
                <ul class="nav navbar-nav">
                  <li><a href="homepage.html">TRANG CHỦ</a></li>
                  <li><a href="list_teacher.html">GIẢNG VIÊN</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                      role="button" aria-haspopup="true"
                      aria-expanded="false">ĐỒ ÁN<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="list_project.html">PROJECT 1</a></li>
                      <li><a href="list_project.html">PROJECT 2</a></li>
                      <li><a href="list_project.html">PROJECT 3</a></li>
                      <li><a href="list_project.html">IT4421</a></li>
                    </ul>
                  </li>
                  <li class="dropdown nav-item">
                    <a href="#note" class="nav-link dropdown-toggle"
                      data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false">
                      <i class="fa fa-bell">
                        <span class="badge badge-danger">1</span>
                      </i>
                    </a>
                    <ul class="dropdown-menu notifications">
                      <div class="notification-heading">
                        <h3 class="menu-title">Thông báo</h3>
                      </div>
                      <li class="divider"></li>
                      <div class="notifications-wrapper">
                        <a class="content" href="#">
                          <div class="notification-item">
                            <p class="item-infor">Deadline:21/10/2018: Nộp tài
                              liệu SRS</p>
                          </div>
                        </a>
                        <a class="content" href="#">
                          <div class="notification-item">
                            <p class="item-infor">Deadline:21/10/2018: Nộp tài
                              liệu SRS</p>
                          </div>
                        </a>
                      </div>
                    </ul>
                  </li>
                  <li><a href="profile_student.html">TRANG CÁ NHÂN</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                      role="button" aria-haspopup="true"
                      aria-expanded="false"> <i class="icon_profile""></i><span
                        class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="homepage.html"><i class="icon_key_alt"></i>
                          ĐĂNG XUẤT</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <section class="container bg_container" style="margin-top: 80px;">
        <div id="main_text">
          <img src="../register48x48.png" />&nbsp;GIẢNG VIÊN
        </div>
        <div id="hr">
        </div>
        <div class="">
          <h3 class="text-center">Nguyễn Quốc Lâm</h3>
          <form action="">
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-8">
                <table class="table">
                  <tr>
                    <td class="col-sm-2">
                      <p>Họ tên</p>
                    </td>
                    <td class="col-sm-8">
                      <p>Nguyễn Quốc Lâm</p>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-sm-2">
                      <p>Lớp</p>
                    </td>
                    <td class="col-sm-8">
                      <p>CNTT2-4</p>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-sm-2">
                      <p>Email</p>
                    </td>
                    <td class="col-sm-8">
                      <input class="form-control" type="text" name="name"
                        value="lam@gmail.com" />
                    </td>
                  </tr>
                  <tr>
                    <td class="col-sm-2">
                      <p>Số điện thoại</p>
                    </td>
                    <td class="col-sm-8">
                      <input class="form-control" type="text" name="name"
                        value="0123456789" />
                    </td>
                  </tr>
                  <tr>
                    <td class="col-sm-2">
                      <p>Danh sách đồ án đang tham gia</p>
                    </td>
                    <td class="col-sm-8">
                      <p><a href="#">Nhóm 1: Web quản lí đồ án</a></p>
                      <p><a href="#">Nhóm 1: Web quản lí đồ án</a></p>
                      <p><a href="#">Nhóm 1: Web quản lí đồ án</a></p>
                      <p><a href="#">Nhóm 1: Web quản lí đồ án</a></p>
                      <p><a href="#">Nhóm 1: Web quản lí đồ án</a></p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="text-center">
              <button class="btn btn-primary text-center">Chỉnh sửa</button>
            </div>
          </form>
          <div>
            <div class="text-center"><h2>Đổi mật khẩu</h2></div>
            <div class="row">
              <div class="col-sm-3">
              </div>
              <div class="col-sm-6">
                <div class="form">
                  <form class="form-validate form-horizontal" id="feedback_form"
                    method="POST" action="">
                    <div class="form-group">
                      <label class="control-label col-sm-3">Mật khẩu cũ</label>
                      <div class="col-sm-9">
                        <input class="form-control" name="" type="text" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3">Mật khẩu mới</label>
                      <div class="col-sm-9">
                        <input class="form-control" type="text" name="" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3">Mật khẩu mới</label>
                      <div class="col-sm-9">
                        <input class="form-control" type="text" name="" />
                      </div>
                    </div>
                    <div class="control-label col-sm-7">
                      <div>
                        <input class="btn btn-default" type="submit" value="Đổi
                          mật khẩu" name="add" onclick="Confirm()">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-sm-3">
              </div>
            </div>
          </div>
        </section>
        <footer>
          <div id="contact" class="container-fluid bg-success text-center">
            <h2 class="text-center">LIÊN HỆ </h2>
            <p><b>Bộ Môn Hệ Thống Thông tin - Viện Công nghệ Thông tin & Truyền
                thông Đại học Bách Khoa Hà </b></p>
            <p><span class="glyphicon glyphicon-map-marker"></span><b> Địa chỉ:
                P603_604 Nhà B1</b></p>
            <p><span class="glyphicon glyphicon-earphone"></span><b> Điện thoại:
                (84-4) 3 8696124</b></p>
          </div>
        </footer>
      </body>

    </html>